@font-face {
    font-family: "Roboto" ;
    src: url("../fonts/Roboto-Bold.ttf"),
        url("../fonts/Roboto-Light.ttf");
    font-family: "PlayfairDisplay";
    src: url("../fonts/PlayfairDisplay-Medium.ttf");
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.ttf");
}


body{
    background-color: #ffffff;
}

div.title1 h4{
    font-family: "Roboto";
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;

}

div.title2 h1{
    font-family: "PlayfairDisplay";
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    text-align: center;

}


div.rawFruit{

    background-color:#2cccc4 ;
    height: 338.4px;
    width: 241.333px;
    padding: 30px;
}

div.rawFruit h4{
    font-family: "Roboto";
    font-size: 1rem;
    color: #ffffff;
    text-align: left;

}

div.rawFruit p{
    font-family: "OpenSans";
    font-size: 1rem;
    color: #ffffff;
    text-align: left;
}

div.orange{
    background-color: #65c5f5;
    background-image: url("../images/orange.jpg");
    height: 395.2px;
    width : 259.333px;
    padding : 30px;
    background-size: contain;
}

div.fruiDiet{
    background-color: #478ac9;
    height: 338.4px;
    width: 241.333px;
    padding: 30px;
}

div.fruiDiet h4{
    font-family: "Roboto";
    font-size: 1rem;
    color: #ffffff;
    text-align: left;
}

div.fruiDiet p{
    font-family: "OpenSans";
    font-size: 1rem;
    color: #ffffff;
    text-align: left;

}

.papaya{
    background-color: #f9b701;
    background-image: url("../images/papaya.jpg");

}

.dragonfruit{
    background-color: #65e75f;
    background-image: url("../images/dragonfruit.jpg");

}

.pineapple{
    background-color: #ffd33a;
    background-image: url("../images/pineapple.jpg");

}

.cherry{
    background-color: #bbe9de;
    background-image: url("../images/cherry.jpg");

}

.tangerine{
    background-color: #6ac5f1;
    background-image: url("../images/tangerine.jpg");

}